@import "bootstrap/functions";
@import "bootstrap/variables";

#bootstrapOverride {

  /*Tree--------------------------------------------------------------------------------------------------------------*/
  .tree {

    ul {
      padding-top: 20px;
      position: relative;

      //transition: all 0.5s;
      //-webkit-transition: all 0.5s;
      //-moz-transition: all 0.5s;
    }

    li {
      float: left;
      text-align: center;
      list-style-type: none;
      position: relative;
      padding: 20px 5px 0 5px;

      //transition: all 0.5s;
      //-webkit-transition: all 0.5s;
      //-moz-transition: all 0.5s;
    }

    /*We will use ::before and ::after to draw the connectors*/

    li::before, li::after {
      content: '';
      position: absolute;
      top: 0;
      right: 50%;
      border-top: 1px solid $secondary;
      width: 50%;
      height: 20px;
    }
    li::after {
      right: auto;
      left: 50%;
      border-left: 1px solid $secondary;
    }

    /*We need to remove left-right connectors from elements without
    any siblings*/
    li:only-child::after, li:only-child::before {
      display: none;
    }

    /*Remove space from the top of single children*/
    li:only-child {
      padding-top: 0;
    }

    /*Remove left connector from first child and
    right connector from last child*/
    li:first-child::before, li:last-child::after {
      border: 0 none;
    }
    /*Adding back the vertical connector to the last nodes*/
    li:last-child::before {
      border-right: 1px solid $secondary;
      border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0;
      -moz-border-radius: 0 5px 0 0;
    }
    li:first-child::after {
      border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0;
    }

    /*Time to add downward connectors from parents*/
    ul ul::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-left: 1px solid $secondary;
      width: 0;
      height: 20px;
    }

    li a {
      border: 1px solid $secondary;
      padding: 5px 10px;
      text-decoration: none;
      color: $dark;
      font-family: arial, verdana, tahoma;
      font-size: 11px;
      display: inline-block;

      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px;

      //transition: all 0.5s;
      //-webkit-transition: all 0.5s;
      //-moz-transition: all 0.5s;
    }

    /*Time for some hover effects*/
    /*We will apply the hover effect the the lineage of the element also*/
    li a:hover, li a:hover + ul li a {
      background: $secondary;
      color: $dark;
      border: 1px solid $secondary;
    }
    /*Connector styles on hover*/
    li a:hover + ul li::after,
    li a:hover + ul li::before,
    li a:hover + ul::before,
    li a:hover + ul ul::before {
      border-color: $secondary;
    }
  }

  /*Form Sign In------------------------------------------------------------------------------------------------------*/
  .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    display: block;

    .checkbox {
      font-weight: 400;
    }
    .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px;
    }
    .form-control:focus {
      z-index: 2;
    }
    input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0;
    }
    input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0;
    }
  }

  /*Forms-------------------------------------------------------------------------------------------------------------*/


  input[type="text"],
  input[type="email"],
  input[type="number"],
  input[type="password"],
  input[type="search"],
  input[type="tel"],
  input[type="url"],
  textarea
  {
    border: solid 1px lighten($dark, 50%);
    border-radius: 0.25rem;
    padding: 3px 5px;
  }
  input[type="submit"],
  input[type="button"],
  button
  {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: solid 1px lighten($dark, 50%);
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  }

  /*Others------------------------------------------------------------------------------------------------------------*/

  form {
    display: inline;
  }
  .alert {
    position: absolute;
    right: 15px;
    margin-top: 15px;
  }
}