@import "bootstrap/functions";
@import "bootstrap/variables";

#bootstrapOverride {

  /* ---------------------------------------------------
      SIDEBAR STYLE
  ----------------------------------------------------- */
  .sidebarPage {
    .wrapper {
      display: flex;
      align-items: stretch;
    }

    #sidebar {
      min-width: 250px;
      max-width: 250px;
      background: $light;
      color: $dark;
      transition: all 0.3s;
    }

    #sidebar.active {
      min-width: 80px;
      max-width: 80px;
      text-align: center;
    }

    #sidebar.active .sidebar-header h3,
    #sidebar.active .CTAs {
      display: none;
    }

    #sidebar.active .sidebar-header strong {
      display: block;
    }

    #sidebar ul li a {
      text-align: left;
    }

    #sidebar.active ul li a {
      padding: 20px 10px;
      text-align: center;
      font-size: 0.85em;
    }

    #sidebar.active ul li a i {
      margin-right: 0;
      display: block;
      font-size: 1.8em;
      margin-bottom: 5px;
    }

    #sidebar.active ul ul a {
      padding: 10px !important;
    }

    #sidebar.active .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%);
    }

    #sidebar .sidebar-header {
      padding: 20px;
      background: darken($light, 10%);
    }

    #sidebar .sidebar-header strong {
      display: none;
      font-size: 1.8em;
    }

    #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid darken($light, 20%);
    }

    #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
      outline: 0;
    }

    #sidebar ul li a:hover {
      color: $dark;
      background: darken($light, 10%);
      text-decoration: none;
    }

    #sidebar ul li a i {
      margin-right: 10px;
    }

    #sidebar ul li.active > a,
    #sidebar a[aria-expanded="true"] {
      color: $dark;
      background: darken($light, 10%);
    }

    #sidebar a[data-toggle="collapse"] {
      position: relative;
    }

    .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%);
    }

    #sidebar ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: darken($light, 10%);
    }

    #sidebar ul.CTAs {
      padding: 20px;
    }

    #sidebar ul.CTAs a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px;
    }

    #sidebar a.download {
      background: $light;
      color: $dark;
    }

    #sidebar a.article,
    #sidebar a.article:hover {
      background: darken($light, 10%) !important;
      color: $dark !important;
    }

    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */

    #content {
      width: 100%;
      padding: 20px;
      min-height: calc(56px - 100vh);
      transition: all 0.3s;
    }

    /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */

    @media (max-width: 768px) {
      #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important;
      }
      .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%);
      }
      #sidebar.active {
        margin-left: 0 !important;
      }
      #sidebar .sidebar-header h3,
      #sidebar .CTAs {
        display: none;
      }
      #sidebar .sidebar-header strong {
        display: block;
      }
      #sidebar ul li a {
        padding: 20px 10px;
      }
      #sidebar ul li a span {
        font-size: 0.85em;
      }
      #sidebar ul li a i {
        margin-right: 0;
        display: block;
      }
      #sidebar ul ul a {
        padding: 10px !important;
      }
      #sidebar ul li a i {
        font-size: 1.3em;
      }
      #sidebar {
        margin-left: 0;
      }
      #sidebarCollapse span {
        display: none;
      }
    }
  }
}
