{% import "macros/menu.html.twig" as menu %}

{% block navbar %}
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="{{ path('homepage') }}">Plan Tree</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                {% if app.user %}
                    {{ menu.item("Create Project", path("project_new")) }}
                    {{ menu.item("My Projects", path("myProjects")) }}
                {% endif %}
            </ul>
            <ul class="navbar-nav ml-auto">
                {% if app.user %}
                    {{ menu.dropdown(app.user.name,{
                        "DIVIDER": '',
                        "Logout": path('logout')
                    }, true) }}
                {% else %}
                    {{ menu.item("Register", path('register')) }}
                    {{ menu.item("Login", path('login')) }}
                {% endif %}
            </ul>
        </div>
    </nav>
{% endblock %}
