{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>{{ "My Projects"|trans }}</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">{{ "Id"|trans }}</th>
                    <th scope="col">{{ "Name"|trans }}</th>
                    <th scope="col">{{ "Createdate"|trans }}</th>
                    <th scope="col">{{ "Lastupdatedate"|trans }}</th>
                    <th scope="col">{{ "Ispublic"|trans }}</th>
                    <th scope="col">{{ "Actions"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <th scope="row"><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.id }}</a>
                        </th>
                        <td>{{ project.name }}</td>
                        <td>{% if project.createDate %}{{ project.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if project.lastUpdateDate %}{{ project.lastUpdateDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if project.isPublic %}Yes{% else %}No{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('project_show', { 'id': project.id }) }}">show</a>
                                </li>
                                <li>
                                    <a href="{{ path('project_edit', { 'id': project.id }) }}">edit</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
