{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        {% if not app.user %}
            <div class="jumbotron mt-2">
                <h1 class="display-4">{{ "Welcome to Plan Tree"|trans }}</h1>
                <p class="lead">{{ "Please login to contiue"|trans }}</p>
                <a class="btn btn-primary btn-lg" href="{{ path('login') }}" role="button">Login</a>
            </div>
        {% endif %}
        <h1>{{ "Newest Projects"|trans }}</h1>
        <div class="table-responsive">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col">{{ "Id"|trans }}</th>
                    <th scope="col">{{ "Name"|trans }}</th>
                    <th scope="col">{{ "Creator"|trans }}</th>
                    <th scope="col">{{ "Createdate"|trans }}</th>
                    <th scope="col">{{ "Lastupdatedate"|trans }}</th>
                    <th scope="col">{{ "Actions"|trans }}</th>
                </tr>
                </thead>
                <tbody>
                {% for project in projects %}
                    <tr>
                        <th scope="row"><a href="{{ path('project_show', { 'id': project.id }) }}">{{ project.id }}</a>
                        </th>
                        <td>{{ project.name }}</td>
                        <td>{{ project.creatorId.name }}</td>
                        <td>{% if project.createDate %}{{ project.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>{% if project.lastUpdateDate %}{{ project.lastUpdateDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                        <td>
                            <ul>
                                <li>
                                    <a href="{{ path('project_show', { 'id': project.id }) }}">show</a>
                                </li>
                            </ul>
                        </td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
