{% macro item(name, url) -%}
    <li class="nav-item {{ app.request.uri == url? "active" }}">
        <a class="nav-link" href="{{ url }}">{{ name|trans }}</a>
    </li>
{%- endmacro %}

{% macro dropdown(name, itemArray, right=false, menuId=null) %}
    {% set menuId = menuId == null ? random(): menuId %}
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="{{ menuId }}" role="button"
           data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            {{ name|trans }}
        </a>
        <div class="dropdown-menu {{ right? "dropdown-menu-right" }}" aria-labelledby="{{ menuId }}">
            {% for id, item in itemArray %}
                {% if id != "DIVIDER" %}
                    <a class="dropdown-item" href="{{ item }}">{{ id|trans }}</a>
                {% else %}
                    <div class="dropdown-divider"></div>
                {% endif %}
            {% endfor %}
        </div>
    </li>
{% endmacro %}
