{% macro treeModal(data, editNodeForms) %}
    {% for row in data %}
        {% if row|first is not iterable %}
            <div class="modal fade" id="node{{ row|first.id }}" tabindex="-1" role="dialog"
                 aria-labelledby="{{ row|first.name }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLongTitle">{{ row|first.name }}</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        {{ form_start(editNodeForms[row|first.id]['edit_form']) }}
                        <div class="modal-body">
                            {{ form_widget(editNodeForms[row|first.id]['edit_form']) }}
                            <button type="button" class="btn btn-secondary"
                                    data-dismiss="modal">{{ "Close"|trans }}</button>
                            <button type="submit" class="btn btn-primary"
                                    value="Create">{{ "Save changes"|trans }}</button>

                            {{ form_end(editNodeForms[row|first.id]['edit_form']) }}
                            {{ form_start(editNodeForms[row|first.id]['delete_form'], {'label_attr': {'style': 'display: inline;'}}) }}
                            <input class="btn btn-danger" type="submit" value="{{ "Delete"|trans }}">
                            {{ form_end(editNodeForms[row|first.id]['delete_form']) }}
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
        {% if row|length > 1 %}
            {% for value in row|slice(1,2) %}
                {{ _self.treeModal(value, editNodeForms) }}
            {% endfor %}
        {% endif %}
    {% endfor %}
{%- endmacro %}

{% macro tree(data) %}
    <ul>
        {% for row in data %}
            <li style="{{ row|first.isDone? 'done' }}">
                {% if row|first is not iterable %}
                    <a href="#" data-toggle="modal" data-target="#node{{ row|first.id }}">{{ row|first.name }}</a>
                {% endif %}
                {% if row|length > 1 %}
                    {% for value in row|slice(1,2) %}
                        {{ _self.tree(value) }}
                    {% endfor %}
                {% endif %}
            </li>
        {% endfor %}
    </ul>
{% endmacro %}