#bootstrapOverride {
  /*Tree--------------------------------------------------------------------------------------------------------------*/
  /*Form Sign In------------------------------------------------------------------------------------------------------*/
  /*Forms-------------------------------------------------------------------------------------------------------------*/
  /*Others------------------------------------------------------------------------------------------------------------*/ }
  #bootstrapOverride .tree {
    /*We will use ::before and ::after to draw the connectors*/
    /*We need to remove left-right connectors from elements without
    any siblings*/
    /*Remove space from the top of single children*/
    /*Remove left connector from first child and
    right connector from last child*/
    /*Adding back the vertical connector to the last nodes*/
    /*Time to add downward connectors from parents*/
    /*Time for some hover effects*/
    /*We will apply the hover effect the the lineage of the element also*/
    /*Connector styles on hover*/ }
    #bootstrapOverride .tree ul {
      padding-top: 20px;
      position: relative; }
    #bootstrapOverride .tree li {
      float: left;
      text-align: center;
      list-style-type: none;
      position: relative;
      padding: 20px 5px 0 5px; }
    #bootstrapOverride .tree li::before, #bootstrapOverride .tree li::after {
      content: '';
      position: absolute;
      top: 0;
      right: 50%;
      border-top: 1px solid #6c757d;
      width: 50%;
      height: 20px; }
    #bootstrapOverride .tree li::after {
      right: auto;
      left: 50%;
      border-left: 1px solid #6c757d; }
    #bootstrapOverride .tree li:only-child::after, #bootstrapOverride .tree li:only-child::before {
      display: none; }
    #bootstrapOverride .tree li:only-child {
      padding-top: 0; }
    #bootstrapOverride .tree li:first-child::before, #bootstrapOverride .tree li:last-child::after {
      border: 0 none; }
    #bootstrapOverride .tree li:last-child::before {
      border-right: 1px solid #6c757d;
      border-radius: 0 5px 0 0;
      -webkit-border-radius: 0 5px 0 0;
      -moz-border-radius: 0 5px 0 0; }
    #bootstrapOverride .tree li:first-child::after {
      border-radius: 5px 0 0 0;
      -webkit-border-radius: 5px 0 0 0;
      -moz-border-radius: 5px 0 0 0; }
    #bootstrapOverride .tree ul ul::before {
      content: '';
      position: absolute;
      top: 0;
      left: 50%;
      border-left: 1px solid #6c757d;
      width: 0;
      height: 20px; }
    #bootstrapOverride .tree li a {
      border: 1px solid #6c757d;
      padding: 5px 10px;
      text-decoration: none;
      color: #343a40;
      font-family: arial, verdana, tahoma;
      font-size: 11px;
      display: inline-block;
      border-radius: 5px;
      -webkit-border-radius: 5px;
      -moz-border-radius: 5px; }
    #bootstrapOverride .tree li a:hover, #bootstrapOverride .tree li a:hover + ul li a {
      background: #6c757d;
      color: #343a40;
      border: 1px solid #6c757d; }
    #bootstrapOverride .tree li a:hover + ul li::after,
    #bootstrapOverride .tree li a:hover + ul li::before,
    #bootstrapOverride .tree li a:hover + ul::before,
    #bootstrapOverride .tree li a:hover + ul ul::before {
      border-color: #6c757d; }
  #bootstrapOverride .form-signin {
    width: 100%;
    max-width: 330px;
    padding: 15px;
    margin: auto;
    display: block; }
    #bootstrapOverride .form-signin .checkbox {
      font-weight: 400; }
    #bootstrapOverride .form-signin .form-control {
      position: relative;
      box-sizing: border-box;
      height: auto;
      padding: 10px;
      font-size: 16px; }
    #bootstrapOverride .form-signin .form-control:focus {
      z-index: 2; }
    #bootstrapOverride .form-signin input[type="email"] {
      margin-bottom: -1px;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: 0; }
    #bootstrapOverride .form-signin input[type="password"] {
      margin-bottom: 10px;
      border-top-left-radius: 0;
      border-top-right-radius: 0; }
  #bootstrapOverride input[type="text"],
  #bootstrapOverride input[type="email"],
  #bootstrapOverride input[type="number"],
  #bootstrapOverride input[type="password"],
  #bootstrapOverride input[type="search"],
  #bootstrapOverride input[type="tel"],
  #bootstrapOverride input[type="url"],
  #bootstrapOverride textarea {
    border: solid 1px #b2bac1;
    border-radius: 0.25rem;
    padding: 3px 5px; }
  #bootstrapOverride input[type="submit"],
  #bootstrapOverride input[type="button"],
  #bootstrapOverride button {
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    user-select: none;
    border: solid 1px #b2bac1;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }
  #bootstrapOverride form {
    display: inline; }
  #bootstrapOverride .alert {
    position: absolute;
    right: 15px;
    margin-top: 15px; }

/*# sourceMappingURL=app.css.map */
