#bootstrapOverride {
  /* ---------------------------------------------------
      SIDEBAR STYLE
  ----------------------------------------------------- */ }
  #bootstrapOverride .sidebarPage {
    /* ---------------------------------------------------
        CONTENT STYLE
    ----------------------------------------------------- */
    /* ---------------------------------------------------
        MEDIAQUERIES
    ----------------------------------------------------- */ }
    #bootstrapOverride .sidebarPage .wrapper {
      display: flex;
      align-items: stretch; }
    #bootstrapOverride .sidebarPage #sidebar {
      min-width: 250px;
      max-width: 250px;
      background: #f8f9fa;
      color: #343a40;
      transition: all 0.3s; }
    #bootstrapOverride .sidebarPage #sidebar.active {
      min-width: 80px;
      max-width: 80px;
      text-align: center; }
    #bootstrapOverride .sidebarPage #sidebar.active .sidebar-header h3,
    #bootstrapOverride .sidebarPage #sidebar.active .CTAs {
      display: none; }
    #bootstrapOverride .sidebarPage #sidebar.active .sidebar-header strong {
      display: block; }
    #bootstrapOverride .sidebarPage #sidebar ul li a {
      text-align: left; }
    #bootstrapOverride .sidebarPage #sidebar.active ul li a {
      padding: 20px 10px;
      text-align: center;
      font-size: 0.85em; }
    #bootstrapOverride .sidebarPage #sidebar.active ul li a i {
      margin-right: 0;
      display: block;
      font-size: 1.8em;
      margin-bottom: 5px; }
    #bootstrapOverride .sidebarPage #sidebar.active ul ul a {
      padding: 10px !important; }
    #bootstrapOverride .sidebarPage #sidebar.active .dropdown-toggle::after {
      top: auto;
      bottom: 10px;
      right: 50%;
      -webkit-transform: translateX(50%);
      -ms-transform: translateX(50%);
      transform: translateX(50%); }
    #bootstrapOverride .sidebarPage #sidebar .sidebar-header {
      padding: 20px;
      background: #dae0e5; }
    #bootstrapOverride .sidebarPage #sidebar .sidebar-header strong {
      display: none;
      font-size: 1.8em; }
    #bootstrapOverride .sidebarPage #sidebar ul.components {
      padding: 20px 0;
      border-bottom: 1px solid #bdc6d0; }
    #bootstrapOverride .sidebarPage #sidebar ul li a {
      padding: 10px;
      font-size: 1.1em;
      display: block;
      outline: 0; }
    #bootstrapOverride .sidebarPage #sidebar ul li a:hover {
      color: #343a40;
      background: #dae0e5;
      text-decoration: none; }
    #bootstrapOverride .sidebarPage #sidebar ul li a i {
      margin-right: 10px; }
    #bootstrapOverride .sidebarPage #sidebar ul li.active > a,
    #bootstrapOverride .sidebarPage #sidebar a[aria-expanded="true"] {
      color: #343a40;
      background: #dae0e5; }
    #bootstrapOverride .sidebarPage #sidebar a[data-toggle="collapse"] {
      position: relative; }
    #bootstrapOverride .sidebarPage .dropdown-toggle::after {
      display: block;
      position: absolute;
      top: 50%;
      right: 20px;
      transform: translateY(-50%); }
    #bootstrapOverride .sidebarPage #sidebar ul ul a {
      font-size: 0.9em !important;
      padding-left: 30px !important;
      background: #dae0e5; }
    #bootstrapOverride .sidebarPage #sidebar ul.CTAs {
      padding: 20px; }
    #bootstrapOverride .sidebarPage #sidebar ul.CTAs a {
      text-align: center;
      font-size: 0.9em !important;
      display: block;
      border-radius: 5px;
      margin-bottom: 5px; }
    #bootstrapOverride .sidebarPage #sidebar a.download {
      background: #f8f9fa;
      color: #343a40; }
    #bootstrapOverride .sidebarPage #sidebar a.article,
    #bootstrapOverride .sidebarPage #sidebar a.article:hover {
      background: #dae0e5 !important;
      color: #343a40 !important; }
    #bootstrapOverride .sidebarPage #content {
      width: 100%;
      padding: 20px;
      min-height: calc(56px - 100vh);
      transition: all 0.3s; }
    @media (max-width: 768px) {
      #bootstrapOverride .sidebarPage #sidebar {
        min-width: 80px;
        max-width: 80px;
        text-align: center;
        margin-left: -80px !important; }
      #bootstrapOverride .sidebarPage .dropdown-toggle::after {
        top: auto;
        bottom: 10px;
        right: 50%;
        -webkit-transform: translateX(50%);
        -ms-transform: translateX(50%);
        transform: translateX(50%); }
      #bootstrapOverride .sidebarPage #sidebar.active {
        margin-left: 0 !important; }
      #bootstrapOverride .sidebarPage #sidebar .sidebar-header h3,
      #bootstrapOverride .sidebarPage #sidebar .CTAs {
        display: none; }
      #bootstrapOverride .sidebarPage #sidebar .sidebar-header strong {
        display: block; }
      #bootstrapOverride .sidebarPage #sidebar ul li a {
        padding: 20px 10px; }
      #bootstrapOverride .sidebarPage #sidebar ul li a span {
        font-size: 0.85em; }
      #bootstrapOverride .sidebarPage #sidebar ul li a i {
        margin-right: 0;
        display: block; }
      #bootstrapOverride .sidebarPage #sidebar ul ul a {
        padding: 10px !important; }
      #bootstrapOverride .sidebarPage #sidebar ul li a i {
        font-size: 1.3em; }
      #bootstrapOverride .sidebarPage #sidebar {
        margin-left: 0; }
      #bootstrapOverride .sidebarPage #sidebarCollapse span {
        display: none; } }

/*# sourceMappingURL=sidebar.css.map */
