{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Project edit</h1>

        {{ form_start(edit_form) }}
        {{ form_widget(edit_form) }}
        <input type="submit" value="Edit"/>
        {{ form_end(edit_form) }}

        <div class="clearfix"></div>

        <form class="form-inline my-2 my-lg-0 ">
            <input id="searchContributors" class="form-control mr-sm-2" type="search" placeholder="Search"
                   autocomplete="off"
                   aria-label="Search">
            <div id="loader" style="margin: 0;" class="spinner invisible">
                <div class="double-bounce1"></div>
                <div class="double-bounce2"></div>
            </div>
        </form>

        <div class="searchContributorsResult">
            <form action="{{ path('project_open', {'id': project.id}) }}" method="post">
                <div id="searchContributorsResult"></div>
            </form>
        </div>

        <h3>{{ "contributors"|trans }}</h3>
        <table class="table">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Projects</th>
            </tr>
            {% for contributor in contributors %}
                <tr>
                <td>{{ contributor.userId.name }}</td>
                <td>{{ contributor.userId.email }}</td>
                <td>{{ contributor.userId.project|length }}</td>
                </tr>
            {% endfor %}
        </table>

        <ul>
            <li>
                <a href="{{ path('homepage') }}">Back to the list</a>
            </li>
            <li>
                {{ form_start(delete_form) }}
                <input type="submit" value="Delete">
                {{ form_end(delete_form) }}
            </li>
        </ul>
    </div>
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script type="text/javascript">
        jQuery(document).ready(function () {
            var searchRequest = null;
            $("#searchContributors").keyup(function () {
                var minlength = 1;
                var that = this;
                var value = $(this).val();
                if (value.length >= minlength) {
                    if (searchRequest != null)
                        searchRequest.abort();
//                    $("#searchContributorsResult").slideUp("normal").html('');
                    $("#loader").removeClass("invisible");
                    searchRequest = $.ajax({
                        type: "GET",
                        url: "{{ path('ajaxSearchContributors') }}",
                        data: {
                            'q': value,
                            'projectId': {{ project.id }}
                        },
                        dataType: "text",
                        success: function (msg) {
                            var entitySelector = '';
                            //we need to check if the value is the same
                            if (value == $(that).val()) {
                                var result = JSON.parse(msg);
                                console.log(result);

                                if (!result.length) {
                                    entitySelector = '<a href="#" class="list-group-item list-group-item-action">{{ "No results"|trans }}</a>';
                                }
                                $("#loader").last().addClass("invisible");

                                $.each(result, function (key, arr) {
                                    if (key != 'error') {
                                        entitySelector += (
                                            '<a title="' + arr['name'] + '" href="' + arr['path'] + '" class="list-group-item list-group-item-action">' +
                                            '    <div class="row">' +
                                            '        <h6 class="col">' + arr['name'] + '</h6>' +
                                            '        <span class="col">' + arr['email'] + '</span>' +
                                            '        <div class="col">' +
                                            '               <button class="btn btn-success btn-sm" type="submit" value="' + arr['id'] + '" name="addContributor">{{ "Add contributor"|trans }}</button>' +
                                            '           </form>' +
                                            '       </div>' +
                                            '    </div>' +
                                            '</a>');
                                    } else {
                                        entitySelector += ('<li class="errorLi">' + value + '</li>');
                                    }
                                });
                                $("#searchContributorsResult").slideDown("normal").html('<div class="list-group">' + entitySelector + '</div>')
                            }
                        }
                    });
                } else {
                    $("#searchContributorsResult").slideUp("normal");
                    $("#loader").last().addClass("invisible");
                }
            });
        });
    </script>
{% endblock %}
