{% extends 'base.html.twig' %}

{% import 'macros/tree.html.twig' as tree %}

{% block title project.name %}

{% block body %}

    <div class="sidebarPage">
        <div class="wrapper">
            <!-- Sidebar  -->
            <nav id="sidebar">
                <div class="sidebar-header">
                    <h3>{{ project.name }}</h3>
                    <strong>
                        {% set caps = [] %}
                        {% for verb in project.name|split(' ')[:2] %}
                            {% set caps = caps|merge([verb|first|capitalize]) %}
                        {% endfor %}
                        {{ caps|join|trim }}
                    </strong>
                </div>

                <ul class="list-unstyled components">
                    <li>
                        <a href="#" type="button" id="sidebarCollapse">
                            <i class="fas fa-align-left"></i>
                            <span>{{ "Toggle Sidebar"|trans }}</span>
                        </a>
                    </li>
                    <li>
                        <a href="#" data-toggle="modal" data-target="#addNode">
                            <i class="fas fa-plus-circle"></i>
                            {{ "Add Node"|trans }}
                        </a>
                    </li>
                    <li>
                        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-home"></i>
                            Home
                        </a>
                        <ul class="collapse list-unstyled" id="homeSubmenu">
                            <li>
                                <a href="#">Home 1</a>
                            </li>
                            <li>
                                <a href="#">Home 2</a>
                            </li>
                            <li>
                                <a href="#">Home 3</a>
                            </li>
                        </ul>
                    </li>
                    <li>
                        <a href="#">
                            <i class="fas fa-briefcase"></i>
                            About
                        </a>
                        <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                            <i class="fas fa-copy"></i>
                            Pages
                        </a>
                        <ul class="collapse list-unstyled" id="pageSubmenu">
                            <li>
                                <a href="#">Page 1</a>
                            </li>
                            <li>
                                <a href="#">Page 2</a>
                            </li>
                            <li>
                                <a href="#">Page 3</a>
                            </li>
                        </ul>
                    </li>
                </ul>

            </nav>

            <!-- Page Content  -->
            <div id="content">


                <div class="tree">
                    {{ tree.tree(dataTree) }}
                </div>
            </div>
        </div>
    </div>

    {% include 'nodes/new.html.twig' %}

    {{ tree.treeModal(dataTree, editNodeForms) }}
{% endblock %}

{% block javascripts %}
    {{ parent() }}

    <script>
        $(document).ready(function () {

            $('#sidebarCollapse').on('click', function () {
                $('#sidebar').toggleClass('active');
            });

        });
    </script>
{% endblock %}
