{% extends 'base.html.twig' %}

{% block body %}
    <div class="container">
        <h1>Project</h1>

        <div class="table-responsive">
            <table class="table table-hover">
                <tbody>
                <tr>
                    <th>Id</th>
                    <td>{{ project.id }}</td>
                </tr>
                <tr>
                    <th>Name</th>
                    <td>{{ project.name }}</td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>{{ project.description }}</td>
                </tr>
                <tr>
                    <th>Creator</th>
                    <td>{{ project.creatorId.name }}</td>
                </tr>
                <tr>
                    <th>Createdate</th>
                    <td>{% if project.createDate %}{{ project.createDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Lastupdatedate</th>
                    <td>{% if project.lastUpdateDate %}{{ project.lastUpdateDate|date('Y-m-d H:i:s') }}{% endif %}</td>
                </tr>
                <tr>
                    <th>Ispublic</th>
                    <td>{% if project.isPublic %}Yes{% else %}No{% endif %}</td>
                </tr>
                <tr>
                    <td colspan="2">
                        <b>Contributors</b>
                        <table class="table">
                            <tr>
                                <th>Name</th>
                                <th>Write rights</th>
                                <th>Admin</th>
                            </tr>
                            {% for contributor in project.contributors %}
                                <tr>
                                    <td>{{ contributor.userId.name }}</td>
                                    <td>{% if contributor.isWritable %}Yes{% else %}No{% endif %}</td>
                                    <td>{% if contributor.isAdmin %}Yes{% else %}No{% endif %}</td>
                                </tr>
                            {% else %}
                                <tr>
                                    <td colspan="3">{{ "No contributors found"|trans }}</td>
                                </tr>
                            {% endfor %}
                        </table>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
        <ul>
            <li>
                <a href="{{ path('homepage') }}">Back to the list</a>
            </li>
            {% if app.user %}
                <li>
                    <a href="{{ path('project_open', { 'id': project.id }) }}">Open</a>
                </li>
                <li>
                    <a href="{{ path('project_edit', { 'id': project.id }) }}">Edit</a>
                </li>
            {% endif %}
        </ul>
    </div>
{% endblock %}
