<div class="modal fade" id="addNode" tabindex="-1" role="dialog" aria-labelledby="addNodeTitle"
     aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{ "Node creation"|trans }}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            {{ form_start(addNodeForm) }}
            <div class="modal-body">
                {{ form_widget(addNodeForm) }}
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="submit" class="btn btn-primary" value="Create">Save changes</button>
            </div>
            {{ form_end(addNodeForm) }}
        </div>
    </div>
</div>
